@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* VARIABLES */
    --primary-color: #f7f7f7;
    --secondary-color: #2e2e2e;
    --accent-color: #104e0a;

    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
    scroll-behavior: smooth;
}

.dark {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.light {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.pointer {
  cursor: pointer;
}

.selected {
  border: 2px solid var(--secondary-color);
}

.square {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#title {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

#content {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

#player-1, #player-2 {
  width: 100%;
  padding: 8px;
}

#board-container {
  width: 100%;
  height: 80vh;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-left: none;
  border-right: none;
  margin: 16px 0;
}

#board {
  --board-min: 300px;
  --board-max: 600px;

  width: 100%;
  min-width: var(--board-min);
  max-width: var(--board-max);
  height: 100%;
  min-height: var(--board-min);
  max-height: var(--board-max);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 12px;
  overflow: hidden;
}

#footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

/* FONTS */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}